In [1]:
#Import Python Libraries
import pandas as pd

In [3]:
#Read csv file
df = pd.read_csv("Salaries.csv")
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [4]:
#Find how many records this data frame has
df.shape

(78, 6)

In [5]:
#How many elements are there?
df.size

468

In [6]:
#What are the column names?
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [7]:
#What types of columns we have in this data frame?
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [8]:
#Check a particular column type
df.phd.dtype

dtype('int64')

In [10]:
#Read csv file
data_auto = pd.read_csv("Auto.csv")
data_auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

In [12]:
#Lets list the data types for each column
# method 1
data_auto.dtypes
data_auto.shape

(201, 26)

In [13]:
#Method 2 is a function
data_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    float64
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    float64
 22  peak-rpm           201 non-null    float64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    int64
dtypes: float64(10), int64(6), object(10)
memory usage: 41.0+ KB

In [15]:
#Convert data types to proper format

data_auto[["bore", "stroke"]] = data_auto[["bore", "stroke"]].astype("float64")
data_auto[["normalized-losses"]] = data_auto[["normalized-losses"]].astype("int64")
data_auto[["price"]] = data_auto[["price"]].astype("float64")
data_auto[["peak-rpm"]] = data_auto[["peak-rpm"]].astype("int64")

In [16]:
# Check the columns after the conversion
data_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    int64
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    float64
 22  peak-rpm           201 non-null    int64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(9), int64(7), object(10)
memory usage: 41.0+ KB

In [18]:
# Check the columns after the conversion
data_auto.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm               int64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [19]:
data_auto.head(12),data_auto.tail(10)

(    symboling  normalized-losses         make fuel-type aspiration  \
 0           3                122  alfa-romero       gas        std
 1           3                122  alfa-romero       gas        std
 2           1                122  alfa-romero       gas        std
 3           2                164         audi       gas        std
 4           2                164         audi       gas        std
 5           2                122         audi       gas        std
 6           1                158         audi       gas        std
 7           1                122         audi       gas        std
 8           1                158         audi       gas      turbo
 9           2                192          bmw       gas        std
 10          0                192          bmw       gas        std
 11          0                188          bmw       gas        std

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
 0           two  convertible          rwd           front        88.6  ...
 1           two  convertible          rwd           front        88.6  ...
 2           two    hatchback          rwd           front        94.5  ...
 3          four        sedan          fwd           front        99.8  ...
 4          four        sedan          4wd           front        99.4  ...
 5           two        sedan          fwd           front        99.8  ...
 6          four        sedan          fwd           front       105.8  ...
 7          four        wagon          fwd           front       105.8  ...
 8          four        sedan          fwd           front       105.8  ...
 9           two        sedan          rwd           front       101.2  ...
 10         four        sedan          rwd           front       101.2  ...
 11          two        sedan          rwd           front       101.2  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
 0           130         mpfi  3.47    2.68               9.0      111.0
 1           130         mpfi  3.47    2.68               9.0      111.0
 2           152         mpfi  2.68    3.47               9.0      154.0
 3           109         mpfi  3.19    3.40              10.0      102.0
 4           136         mpfi  3.19    3.40               8.0      115.0
 5           136         mpfi  3.19    3.40               8.5      110.0
 6           136         mpfi  3.19    3.40               8.5      110.0
 7           136         mpfi  3.19    3.40               8.5      110.0
 8           131         mpfi  3.13    3.40               8.3      140.0
 9           108         mpfi  3.50    2.80               8.8      101.0
 10          108         mpfi  3.50    2.80               8.8      101.0
 11          164         mpfi  3.31    3.19               9.0      121.0

     peak-rpm city-mpg  highway-mpg    price
 0       5000       21           27  13495.0
 1       5000       21           27  16500.0
 2       5000       19           26  16500.0
 3       5500       24           30  13950.0
 4       5500       18           22  17450.0
 5       5500       19           25  15250.0
 6       5500       19           25  17710.0
 7       5500       19           25  18920.0
 8       5500       17           20  23875.0
 9       5800       23           29  16430.0
 10      5800       23           29  16925.0
 11      4250       21           28  20970.0

 [12 rows x 26 columns],
      symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
 191         -1                 74  volvo       gas        std         four
 192         -2                103  volvo       gas        std         four
 193         -1                 74  volvo       gas        std         four
 194         -2                103  volvo       gas      turbo         four
 195         -1                 74  volvo       gas      turbo         four
 196         -1                 95  volvo       gas        std         four
 197         -1                 95  volvo       gas      turbo         four
 198         -1                 95  volvo       gas        std         four
 199         -1                 95  volvo    diesel      turbo         four
 200         -1                 95  volvo       gas      turbo         four

     body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
 191      wagon          rwd           front       104.3  ...          141
 192      sedan          rwd           front       104.3  ...          141
 193      wagon          rwd           front       104.3  ...          141
 194      sedan          rwd           front       104.3  ...          130
 195      wagon          rwd           front       104.3  ...          130
 196      sedan          rwd           front       109.1  ...          141
 197      sedan          rwd           front       109.1  ...          141
 198      sedan          rwd           front       109.1  ...          173
 199      sedan          rwd           front       109.1  ...          145
 200      sedan          rwd           front       109.1  ...          141

      fuel-system  bore  stroke compression-ratio horsepower  peak-rpm  \
 191         mpfi  3.78    3.15               9.5      114.0      5400
 192         mpfi  3.78    3.15               9.5      114.0      5400
 193         mpfi  3.78    3.15               9.5      114.0      5400
 194         mpfi  3.62    3.15               7.5      162.0      5100
 195         mpfi  3.62    3.15               7.5      162.0      5100
 196         mpfi  3.78    3.15               9.5      114.0      5400
 197         mpfi  3.78    3.15               8.7      160.0      5300
 198         mpfi  3.58    2.87               8.8      134.0      5500
 199          idi  3.01    3.40              23.0      106.0      4800
 200         mpfi  3.78    3.15               9.5      114.0      5400

     city-mpg  highway-mpg    price
 191       23           28  13415.0
 192       24           28  15985.0
 193       24           28  16515.0
 194       17           22  18420.0
 195       17           22  18950.0
 196       23           28  16845.0
 197       19           25  19045.0
 198       18           23  21485.0
 199       26           27  22470.0
 200       19           25  22625.0

 [10 rows x 26 columns])

In [21]:
data_auto.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm               int64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [24]:
data_auto.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')